<div class="container on">
  <div class="screen">
    <h3 class="title">CONNECTION ESTABLISHED</h3>
    <div class="box--outer">
      <div class="box">
        <div class="box--inner">
          <div class="content">
            <div class="holder">
              <b>Welcome to the Millennium Falcon's Dashboard</b> — please
              provide any information on bounty hunters whereabouts.
              <br />
              <app-form></app-form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
