#planets-map {
    background: rgba(14, 219, 21, .2);
    color: rgba(14, 219, 21, 0.8);
    display: inline-flex;
    align-items: center;
}

header {
    text-align: center;
}

#planets-map img {
    width: 25px;
    margin-right: 20px;
}