.col.col__center,
.col.col__left {
    display: inline-block
}

.col.col__left {
    width: 90%;
}

.col.col__center {
    width: 10%;
}

.progress-container {
    height: 0.8rem;
    border-radius: 0.4rem;
    background: rgba(219, 14, 21, .2);
}

.progress-container .progress {
    height: 100%;
    /* width: 0; */
    border-radius: 0.4rem;
    animation-name: progress-animation;
    animation-delay: 1s;
    animation-duration: 2s;

    background: #db0e15;
    text-shadow: 0 0 5px rgba(219, 14, 21, .8);
}

@keyframes progress-animation {
    0% {
        width: 0;
    }
}

.blink_me {
    animation: blinker 1.2s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}